[2019-03-26 04:23] charpeni opened #12 "Setup CircleCI"
We should have a CircleCI setup with the following checks:

- [ ] Eslint.
- [ ] Flow.

[2019-03-26 04:24] charpeni opened #13 "Configure Eslint & Prettier"
We should have an Eslint setup that also covers Prettier on commit.

We should be able to use [@react-native-community/eslint-config](https://www.npmjs.com/package/@react-native-community/eslint-config).

[2019-09-20 12:56] codler opened #14 "Update peerDependency to latest react-native"
npm WARN @react-native-community/segmented-control@1.0.2 requires a peer of react-native@^0.57.0 but none is installed. You must install peer dependencies yourself.

[2019-09-20 17:27] codler opened #15 ""ld: 7 duplicate symbols for architecture x86_64""
# Bug

Build fails when I try run `react-native run-ios`, this started to happen after I ran `pod install`

duplicate symbol _OBJC_IVAR_$_RCTSegmentedControl._selectedIndex in:
    /Users/Grape/xcode/bolan/ios/build/AwesomeProject/Build/Products/Debug-iphonesimulator/React-Core/libReact-Core.a(RCTSegmentedControl.o)
    /Users/Grape/xcode/bolan/ios/build/AwesomeProject/Build/Products/Debug-iphones

[2019-09-27 07:36] Guap6512 opened #16 "iOS 13 SegmentedControl support"
Library version: 1.0.2

iOS 13 introduced a new version of SegmentedControl with changes in API, and library does not support customizing it now. Every SegmentedControl made with it now looks like this:
![image](https://user-images.githubusercontent.com/4889644/65751050-c90d4480-e11a-11e9-9221-ccee78261cea.png)

**tintColor** property makes no effect on it's appearance anymore.

[2019-09-29 06:17] leonid-shevtsov commented on #15
:+1: same with RN 0.61, Xcode 11. Reverted to using the component packaged with RN.

Is this library not ready to be used yet?

[2019-09-30 12:20] funkyyy commented on #16
same prob with ios13 what to do now? any idea?

[2019-09-30 14:02] fonov commented on #15
some issue workaround use `SegmentedControlIOS` from `react-native`

[2019-10-04 06:57] emirvajzovic commented on #16
**segmentedControl.selectedSegmentTintColor = .clear** for iOS 13

[2019-10-04 06:59] emirvajzovic commented on #16
segmentedControl.selectedSegmentTintColor = .clear
Only works on iOS 13.

[2019-10-04 15:00] VenomApps commented on #16
What's the status on this! Nothing is working!

[2019-10-06 11:43] ferrannp commented on #16
It looks like this component needs a re-work with all the new properties that iOS 13 brings to SegmentedControl. As you said, you are right, `tintColor` won't work anymore.

[2019-10-14 05:14] cpojer commented on #16
@ferrannp is it possible that these were fixed in the version on react native master since we haven't actually removed that component from RN yet (we were waiting for stable releases).

[2019-10-14 09:28] radko93 commented on #16
@cpojer I don't see `tintColor` fixed on RN 0.61.2 on iOS 13.

[2019-10-15 00:43] cpojer commented on #16
Here is a fix by @sammy-SC:

[code]

[2019-10-16 08:28] cpojer commented on #16
It has to go into the module here as a PR: https://github.com/react-native-community/react-native-segmented-control/blob/master/ios/RCTSegmentedControl.m

[2019-11-11 10:19] ferrannp commented on #16
There are more stuff we can do to [UISegmentedControl ](https://developer.apple.com/documentation/uikit/uisegmentedcontrol) right now with iOS 13 @cpojer. I think it would be good to update it here and remove it from core (now core is fixed, here is not). @harisbaig100 are you around?

[2019-11-11 10:58] cpojer commented on #16
@ferrannp We'll remove it from RN soon!

[2019-11-14 10:19] ferrannp commented on #16
@cpojer thank you but we would probably need a new maintainer here :)

[2019-12-03 20:06] bpdarlyn commented on #15
same issues react native 0.60.5

[2019-12-10 03:58] GhayoorUlHaq commented on #15
Actually in RN 0.6x, some of libraries have different ways to install. Some of libraries only need `react-native link` to link both iOS and Android but some of libraries need `pod install` for iOS as well. In case you need just `react-native link` for both and you'll run `pod install`, duplicate symbol error will appear. You can check _react-native-vector-icons_ library, same thing happens to this

[2019-12-18 05:04] errawn commented on #16
ff

[2019-12-26 19:02] matt-oakes commented on #15
The issue is that the library file names are clashing with the built-in ones. To fix this, the iOS file prefixes need to be renamed from `RTC` to something like `RNC`.

[2019-12-29 12:06] Naturalclar commented on #16
@cpojer @ferrannp
If it's not a problem, I'd like to help maintain this package.
Is there anything I can do to help?

[2019-12-31 03:38] Naturalclar opened #24 "Setup Detox Test"
# Feature Request

Setup e2e test using detox

## Why it is needed

This package does not have an e2e test set up yet.

## Possible implementation

See other packages in @react-native-community

[2020-01-03 01:27] #12 closed

[2020-01-03 01:30] #16 closed

[2020-01-03 01:37] Naturalclar commented on #13
I believe this can be closed with #19

[2020-01-06 16:31] #13 closed

[2020-01-12 10:06] #15 closed

[2020-01-17 16:07] nacho-carnicero opened #37 "Installing this package following the docs leads to an installation of a fork of this package"
# Bug

This has nothing to do with the package itself but with the docs, specifically the docs for installing this package.

Indeed, in the docs, it is stated that in order to install this package you should do:

[code]

or its equivalent for users using `npm`.

Now the huge problem is that by doing that users are actually installing [this fork](https://github.com/harisbaig100/react-native-segment

[2020-01-19 18:10] Naturalclar commented on #37
@nacho-carnicero Thanks for opening an issue!
I'm currently working on iOS 13 support of this repo, and I will publish the package from the react-native-community org :)

[2020-01-19 19:14] Naturalclar commented on #37
@nacho-carnicero Just published v1.1.0 from this repository :)

[2020-01-19 19:14] #37 closed

[2020-01-19 19:16] Naturalclar commented on #14
Currently the peerDependency for this repo is `>= 0.57.0`, so as long as you have react-native installed that is newer than 0.57, there shouldn't be any warnings :)

[2020-01-19 19:16] #14 closed

[2020-01-20 00:07] nacho-carnicero commented on #37
Awesome @Naturalclar thank you!

[2020-01-20 08:24] darrylyoung opened #43 "1.1.0 not working (at least for me) in Expo"
# Bug

I just upgraded to `1.1.0` and I'm now seeing the following. Note that I'm using Expo SDK `36.0.0`. I've only recently started using this package so I'm not sure exactly what's happened but it was working before the upgrade and the Expo [documentation](https://docs.expo.io/versions/latest/react-native/segmentedcontrolios/) still points to here for Segmented Control.

![PNG image](https://us

[2020-01-20 09:12] Naturalclar commented on #43
@darrylyoung Thanks for opening up an issue!

I believe the error is caused by the rename of module happened in #33.
Expo currently doesn't support the renamed `RNCSegmentedControl` since that was a recent change.

For now, could you import the `SegmentedControlIOS` component from `react-native` itself? (Even though the document says that it's deprecated, it should still be usable)
Unfortunately t

[2020-01-20 09:45] darrylyoung commented on #43
Hi, @Naturalclar.

Sure, I'll just keep using it the way I was doing and check back here at some point to see if anything has changed with regard to getting Expo supporting the change.

Thanks for the quick reply. Have a nice day.

[2020-01-20 14:34] nacho-carnicero commented on #43
@Naturalclar I'm having the same exact issue in my project, which is not depending on Expo. I think the issue is due to the fact that the library needs to be linked to the project. I tried [manually linking](https://facebook.github.io/react-native/docs/linking-libraries-ios#manual-linking) it to mine and now the build fails while trying to compile the `libRNCSegmentedControl.a` library, but withou

[2020-01-20 15:00] nacho-carnicero commented on #43
Ok I managed to get it working for my project, I will add a PR

[2020-01-24 06:35] evanheckert commented on #43
Problem persists in 1.1.1.

[2020-01-24 14:57] Naturalclar commented on #43
@evanheckert could you tell me which version of react-native you are using?

[2020-01-24 22:09] evanheckert commented on #43
I’m using Expo, so I’m on their latest fork. @Naturalclar.

[2020-01-28 14:46] nacho-carnicero commented on #43
@evanheckert from my understanding expo is not yet using this package for the segmented control component, but is still using the react native one, so the issue has to be fixed on expo.
Indeed, as you can see [in the list of bundled native modules](https://github.com/expo/expo/blob/2a5377572bc83bad45795fe69c8479887e7d6c00/packages/expo/bundledNativeModules.json) there is no mention to this package

[2020-01-28 16:49] evanheckert commented on #43
@nacho-carnicero That makes sense! Thank you for taking the time to describe why :)

[2020-01-28 16:59] Naturalclar commented on #43
@evanheckert Sorry for the late response!
@nacho-carnicero has explained it for me.
This repo is currently not supported by expo, but I'd like to have it supported some day, so I'll try to communicate with the expo team.

Mean while, you're still able to import `SegmentedControlIOS` from `react-native` if you're using expo 36.

[2020-02-20 12:36] darrylyoung commented on #43
Thanks, everyone. I'll close this as I now know this isn't supported in Expo. Their documentation wasn't particularly clear on this but somebody [fixed that](https://github.com/expo/expo/pull/6972) (thanks!).

[2020-02-20 12:36] #43 closed

[2020-02-28 17:30] Naturalclar opened #47 "Add android support"
Would be nice to have an android implementation of the `segemented-control`.

[2020-02-28 17:30] Naturalclar opened #48 "Add web support"
Add support for `react-native-web`

[2020-03-22 19:32] starikovm opened #59 "Changing of font size"
**Is it possible to change font size of text in segmented control element?**
Question says it all, I am trying to apply font size to the element but seems like nothing changes i nthe size of the text. Is it possible now to change it somehow?
Thanks for help in advance and thanks for cool component!

[2020-03-30 16:01] Naturalclar commented on #59
I'll look into it!

[2020-04-17 16:31] #48 closed

[2020-04-17 16:56] Naturalclar commented on #47
published 1.4.0 with android/web support :tada:

[2020-04-17 16:56] #47 closed

[2020-04-17 16:58] Naturalclar opened #70 "Add Sliding Effect and Gesture Support for Android/Web"
Recent Addition of Android/Web Support made in v1.4.0 does not have the sliding animation and moving segment with swipe gesture. It would be nice to have those, preferably without using gesture-handlers and reanimated, so the user would not have to install an additional dependency to use this package.

[2020-04-18 21:31] cmmartin opened #71 "Support for icons?"
# Feature Request

Currently the `values` prop accepts an array of strings to display as the label. I'd like to use icons instead. This should be supported on the native side. See the below in Safari -> Bookmarks

<img width="359" alt="Screen Shot 2020-04-18 at 5 23 15 PM" src="https://user-images.githubusercontent.com/2001903/79671587-4cff4a80-8199-11ea-94fe-67afde30eeef.png">

## Possible implem

[2020-04-19 08:27] Naturalclar commented on #71
It seems like it is possible to implement image in the UISegmentedControl
based on this SO question https://stackoverflow.com/questions/10480087/uisegmentedcontrol-selected-state-icon-image

currently I don't have much time to look into this, but any PR is appreciated :)

[2020-04-29 17:51] Naturalclar commented on #59
@starikovm I've just released v1.5.0 with `fontSize` prop that can change the fontSize :tada:

[2020-04-29 17:51] #59 closed

[2020-04-29 19:04] yalva opened #75 "Not behaving same on both iOS and Android."
# Bug

onChange={event => {
            console.log(event);
          }}

This is giving different results on ios and android.

## Environment info

 "@react-native-community/segmented-control": "^1.4.0",
    "react-native": "0.62.2",

`react-native info` output:

System:
    OS: macOS 10.15.4
    CPU: (8) x64 Intel(R) Core(TM) i7-4850HQ CPU @ 2.30GHz
    Memory: 18.80 MB / 16.00 GB
    Shell: 5.7

[2020-05-01 18:50] jbrodriguez opened #76 "Segmented Control requires width"
# Bug

segmented-control doesn't show up with the following code

[code]
I need to set a width on the parent for it to show up

[code]

## Environment info

[code]

Library version: 1.5.0

## Steps To Reproduce

Please check code above

Describe what you expected to happen:

Segmented Control should appear without needing to set width on the parent view

## Reproducible sample code

Please check a

[2020-05-02 01:50] jbrodriguez commented on #76
it was an issue with `alignItems: 'center'` in a parent view 🤦‍♂️

[2020-05-02 01:50] #76 closed

[2020-05-07 10:41] Naturalclar commented on #70
Animation support was added in #77 and released in v1.6.0 :tada:

Still need a sliding gesture support to match the UISegmentedControl

[2020-05-09 14:28] gabriprat opened #80 "ios: Not selected tab gets bold face when setting fontSize"
# Bug

When you add the `fontSize` attribute the non-selected tabs font-weight is bold instead of normal.

## Environment info

`react-native info` output:

[code]

Library version: 1.5.0

## Steps To Reproduce

1. Create a segmented control and set `fontSize`
2. Execute on ios
3. All tabs have boldface

Describe what you expected to happen:

1. Only the selected tab should have boldface

## Repro

[2020-05-10 04:42] Naturalclar commented on #80
@gabriprat Thanks for creating the issue and making a PR to fix it!
I've published v1.6.1 that includes the fix :tada:

[2020-05-10 04:43] #80 closed

[2020-05-18 08:32] kesha-antonov opened #85 "Changing of font family"
# Feature request

Hi!

Thanks for awesome component!

Is it possible to change font family of text in segmented control element?

[2020-05-23 03:37] Naturalclar commented on #85
@kesha-antonov Thanks for the feature request!
Unfortunately, currently it's not possible to change the font family of the segmented control text.

It's definitely a nice feature to have, but I don't have the bandwidth to work on it at the moment.

PRs are always welcome :+1:

[2020-05-24 03:41] kesha-antonov commented on #85
@Naturalclar thanks for feedback!

[2020-05-29 00:50] Naturalclar commented on #71
Note to myself.
This PR might help on how to add icon to segmented-control
https://github.com/facebook/react-native/pull/28646

[2020-05-29 15:19] arjndr commented on #85
@Naturalclar I've opened a PR regarding this in #87

[2020-05-30 15:27] Naturalclar commented on #85
I've released v2.0.0 with font family support, thanks to @arjndr :tada:
There's some breaking change in the props, so read the release note for the changes.

[2020-05-30 15:27] #85 closed

[2020-05-30 17:22] thomaschaaf opened #92 "Android version cut off when last element is selected"
# Bug report

## Summary

It seems like the right side is cut off on android since version 1.6.0 if the last item is selected.

### Version 2.0.0
First Item:
<img width="490" alt="Screenshot 2020-05-30 19 27 43" src="https://user-images.githubusercontent.com/893393/83335242-b94a8f00-a2ab-11ea-8e8b-a2af68420ddd.png">

Last Item:
<img width="512" alt="Screenshot 2020-05-30 19 06 08" src="https://use

[2020-06-01 14:12] AndriiBoiko commented on #92
The same issue ...
<img width="187" alt="Screenshot 2020-06-01 at 17 11 41" src="https://user-images.githubusercontent.com/50368724/83417665-1ae53780-a42b-11ea-803a-84334f508349.png">

[2020-06-01 15:00] AndriiBoiko opened #93 "activeFontStyle and fontStyle not working as expected"
# Bug report

## Summary

activeFontStyle and fontStyle  props not working

`{
    color: '#77767E',
    fontFamily: 'Some font family name',
    fontSize: 13,
  }`
## Environment info
`react-native info` output:

[code]

Library version: ^2.0.0

## Steps to reproduce

Simply ran an example

Expected
<img width="1073" alt="exp" src="https://user-images.githubusercontent.com/50368724/83422022-9a760

[2020-06-03 02:44] tuanmai commented on #71
@Naturalclar Do you have any prefer api for this feature? AFAIK, `UISegmentedControl` support text and image, so it cannot be react component. I need this feature so I'm considering working on it.

[2020-06-03 09:01] dylancom opened #94 "Large variant"
# Feature request
In a lot of apps I'm seeing a slightly larger / bigger variant of the segmented control.
See for e.g.:
- The GitHub iOS app if you navigate to Home > Issues.
- Safari > Bookmarks.

## Why it is needed
When using the segmented control as top tab navigation it's ux wise nice to have bigger buttons.

## Possible implementation
I think the native module has some way of adding more pa

[2020-06-04 14:50] dylancom commented on #94
EDIT: seems you can already do this by providing a style prop:
`style={{ height: 40 }}`
Maybe this should be more clear in the docs.

[2020-06-04 23:56] Naturalclar commented on #71
@tuanmai thanks for the comment! I don't have any preferred api at the moment.

[2020-06-05 12:11] Naturalclar commented on #93
@AndriiBoiko could you tell me which exact font you were trying to use?
Also, which os is this happening on? (iOS/android)
Thank you in advance!

[2020-06-05 12:12] Naturalclar commented on #92
Sorry about the issue!
I'll find time this weekend to try to fix it

[2020-06-05 12:19] AndriiBoiko commented on #93
Hi!
`fontFamily: 'Metropolis-Regular',`

Here's the full code, maybe it will be useful ...
[code]

Styles

[code]

[2020-06-05 17:01] kesha-antonov commented on #93
I have issue too
Active element has white font color
<img width="381" alt="Screenshot 2020-06-05 at 20 00 33" src="https://user-images.githubusercontent.com/11584712/83903699-450a6280-a767-11ea-873d-cb4a8928f51f.png">

[2020-06-09 00:39] Andresain123 commented on #71
Hi folks! We are making a new app and we also needed support for images. I’ve just finished a working implementation on the native part. I’m thinking of opening a PR in the next days for supporting images.

![736B676B-8839-4990-A900-4AAA8E9B1E69](https://user-images.githubusercontent.com/4752185/84093372-53bc7800-a9fa-11ea-91e9-093b730a8ac6.jpeg)

Cheers!

[2020-06-12 18:16] exotexot opened #95 "Dark Theme won't be applied in Android"
Really enjoy the segmented control! Sadly, the dark-theme won't be applied in the Android version!

[2020-06-17 11:18] #93 closed

[2020-06-17 14:08] Naturalclar commented on #93
Thanks @kesha-antonov ! I've released `2.0.1` with the fix :D

[2020-06-18 01:25] Naturalclar commented on #95
@exotexot thanks for the comment! currently dark theme isn't applied to android and web, but I'll work on it when I get the chance.
PRs are welcome too :)

[2020-06-24 18:55] ivy-mihai opened #102 "Doesn't work on iOs"
# Bug report

## Summary

The package doesn't work on iOs. The main example from Git is working perfectly on Android, but on iOS I receie this error"View config not found for name RNC Segmented Control".
## Environment info

I am using Expo.

`react-native info` output:

[code]

Library version: x.x.x

## Steps to reproduce

1. cut example code from git
2. copy example code in the component where

[2020-06-26 21:15] shireeshMs commented on #102
![Simulator Screen Shot - iPhone 11 - 2020-06-27 at 02 44 30](https://user-images.githubusercontent.com/37240061/85901804-3112c780-b820-11ea-9903-81bc263f0939.png)

![Screenshot_1593206072](https://user-images.githubusercontent.com/37240061/85901813-35d77b80-b820-11ea-9628-eb0a0879232c.png)

I am facing same issue, any solution

[2020-06-30 18:23] exotexot commented on #102
Looks like your forgot to do a pod install in the ios directory

[2020-07-04 04:55] #71 closed

[2020-07-04 06:05] Naturalclar commented on #71
Just published v2.1.0 with added support for images. Thanks so much @Andresain123 :tada:

[2020-07-04 06:06] Naturalclar commented on #102
@ivy-mihai
Have you tried running `npx pod-install` in your project? for iOS modules, installing its dependency via cocoapods is required.

[2020-07-04 17:18] ivy-mihai commented on #102
I am using Windows. I cannot use npx pod-install in my project, but I've tried anyway. Here is the answer: CocoaPods is only supported on darwin machines.

[2020-07-05 06:32] Naturalclar commented on #102
@ivy-mihai thanks for the reply! And sorry, i missed the part about expo.

Could you tell me which expo sdk version you're using?

This package will only work on iOS for expo sdk 38 and beyond.

[2020-07-05 15:24] ivy-mihai commented on #102
Not a problem! Thank you for your answer. I use SDK 38.

[2020-07-05 15:31] #102 closed

[2020-07-17 15:41] Andresain123 commented on #95
Working on it 🥳
PR soon

[2020-07-19 18:15] und3f1n3d opened #109 "Improve Accessibility Reading on Android"
# Bug report

## Summary

1. When button is selected, the button is not read as 'Selected'.
2. It doesn't read the total of items, nor current index, something like '1 out of 2', or '2 out of 2'.  Example, Google Play Store => Top Charts => the list of "Top Free", "Top Grossing", "Trending"... that kind of idea.

## Environment info

Library version: 2.1.0

## Steps to reproduce

1. Turn on Talkba

[2020-07-25 11:31] mertct11 opened #113 "RNCSegmentedControl was not found ?!"
greetings to everyone,

I'm working on a project. The project uses react native with expo and uses the segmented control component of the community.

The problem is that I do not encounter any problems when I compile with expo application on my android device, but when I compile with my ios device from expo application, I encounter the following screenshot. I compared the js files (import Segmente

[2020-07-26 03:13] mertct11 commented on #113
anyone else?

[2020-07-27 14:21] andresd commented on #113
I have the same problem, any ideas?

[2020-07-30 12:11] amsimoes commented on #113
Same happening to me, only in iOs (using EXPO sdk 37)

[2020-07-31 06:02] Akyna opened #115 "Jest test error"
# Bug report
Hi! When I try to write the test - I get the error

## Summary

[code]

## Environment info
`react-native info` output:

[code]

Library version: 2.1.0

## Steps to reproduce
Just write a simple test

[code]

## Reproducible sample code

[code]

[2020-08-04 16:45] adtm opened #116 "Question / Feature: Button title newline support"
### Question / Feature

Is it possible to have value titles with new lines, sometimes I manage to use the `\t`, but `\n` always jumps the text to a new line and it's not visible.

[code]

![Screenshot 2020-08-04 at 19 44 08](https://user-images.githubusercontent.com/23147325/89320970-f3a92180-d68a-11ea-8929-11d5bd0e6be5.png)

[2020-08-06 19:31] markwindsorr commented on #113
Same Issue

[2020-08-08 11:55] #92 closed

[2020-08-08 11:57] Naturalclar commented on #113
For expo users, please make sure that you are using expo sdk 38 or above.
For expo users using expo 37 or below, please use the `SegmentedControlIOS` component from react-native.
For non-expo users, please make sure you run `npx pod-install` after installing this package.

[2020-08-08 22:37] Oize opened #119 "onChange is called only once on consecutive segment clicks"
# Question

I thought I would be able to track consecutive clicks on the same segment (because the press animation is played) but this is not happening. Is it possible to achieve this behaviour?

This is for iOS. I don't have Android to test alternative implementation yet, but I found it uses onPress and probably already works the way I want.

[2020-08-10 08:52] mrousavy commented on #75
Please give an example of the two outputs. What are the differences?

[2020-08-11 12:05] Akyna commented on #115
Any updates?

[2020-08-25 16:55] exotexot commented on #95
@Andresain123 how's it going? :)

[2020-08-27 20:04] yarapolana commented on #119
Same issue, have you found a workaround?
@Oize

[2020-08-30 21:25] ocano12 opened #120 "Adding Padding breaks Android"
# Bug report

adding any padding over 16 breaks android by not allowing you to press any other value.
`
    <SegmentedControl
      {...props}
      style={{ padding: 24 }}
      fontStyle={{ ...fontStyles, color: colorPalette.primary }}
      activeFontStyle={{ ...fontStyles, color: colorPalette.white }}
    />
`

padding also looks inconsitent

## Environment info

[code]

## ScreenShot

![Scree

[2020-09-02 11:56] anastely commented on #94
Is there a way to add a backgroundColor to the active Tab?

[2020-09-10 07:22] AndriiBoiko commented on #115
Are there any updates?

[2020-09-16 01:10] #113 closed

[2020-09-16 10:42] exotexot commented on #95
bump

[2020-09-18 21:18] Andresain123 commented on #95
@exotexot Sorry for the delay 😕
I'll finish it tonight or tomorrow morning and open a PR.

![Screenshot_20200918-231507](https://user-images.githubusercontent.com/4752185/93645751-0c845100-fa05-11ea-853d-3f7220184963.png)

[2020-09-19 09:07] exotexot commented on #95
No problem at all. Looking really sweet! Nice work @Andresain123

[2020-09-26 21:28] outaTiME opened #125 "Custom fontFamily doesn't work on Expo"
Hi guys,
im using Expo 39 and custom font not works with fontFamily, any plan of support?

Thanks !!!

[2020-09-29 02:18] Naturalclar opened #126 "Migrate to github actions"
Switching to github actions as the repo has switched to new org

[2020-09-29 22:07] erikaperugachi opened #127 "set backgroundColor"
Try to set backgroundColor={'white'}, in iOS doesn't show white color (you can see light gray).

On Android is ok!

[2020-10-05 17:08] remstos opened #129 "Support for fontWeight in fontStyle and activeFontStyle"
Would be great to support fontWeight property in addition to the fontFamily and fontSize

[2020-10-05 17:08] remstos opened #130 "Support for fontWeight in fontStyle and activeFontStyle"
Would be great to support fontWeight property in addition to the fontFamily and fontSize

Thanks!

[2020-10-05 21:04] jhonattansolartearanda opened #131 "Don't work with 3 values"
The control is not displayed correctly

`<SegmentedControl
          values={['Abiertas', 'Vencidas', 'Por vencer']}
          selectedIndex={state.selectedIndex}
          onChange={handleIndexChange}
        />`
![image](https://user-images.githubusercontent.com/58035529/95131824-5f0f7e00-0724-11eb-896b-66a413649598.png)

[2020-10-17 01:38] #95 closed

[2020-10-23 18:37] abifdhllh commented on #130
I've submitted a PR to solve this #133

[2020-10-26 07:27] #126 closed

[2020-10-26 13:14] exotexot opened #134 "Dark theme is not working with react-native-windows"
Merging this PR https://github.com/react-native-segmented-control/segmented-control/pull/124 breaks the segmented Control component in windows. As there are no labels being displayed and segmented arent clickable.

[2020-11-02 15:10] hunasdf opened #135 "borderRadius"
Hi Everyone,

Is there any way to set the borderRadius of this component?

Thanks,
G

[2020-11-03 11:32] Abhishek-plivo opened #137 "Support for badges in control tab"
Is there any we can add badges in the tabs?

[2020-11-04 09:50] Andresain123 commented on #134
Sorry, @exotexot I'll fix it in another PR.

[2020-11-10 13:16] nadejdashed commented on #130
Please correct index.ts file to support fontWeight

[2020-11-17 12:59] elirangoshen opened #138 "Press events doesn't work in android"
I using this library and in ios it works great but in android it doesn't trigger any press events.

React  Native version: 0.63.2
Android os version: 28
Lib version: 2.2.1

that the part of code I use :

[code]

[2020-12-02 09:40] albinmartinsson91 opened #140 "Custom fonts not working in Expo"
I'm currently using a custom font via `@expo-google-fonts/ibm-plex-sans` and for some reason it's not being applied to the `SegmentedControlTab`. I'm running version `^2.2.1`.

Reproduce by adding a font through `@expo-google-fonts` and apply it to the `fontStyle` object.

[2020-12-02 09:41] #140 closed

[2020-12-02 09:42] albinmartinsson91 commented on #125
Having the same issue,

I'm currently using a custom font via `@expo-google-fonts/ibm-plex-sans` and for some reason it's not being applied to the `SegmentedControlTab`. I'm running version `^2.2.1`.

Reproduce by adding a font through `@expo-google-fonts` and apply it to the `fontStyle` object.

[2020-12-03 16:44] brmk commented on #137
We are also interested in this feature

[2020-12-09 11:45] filipsavicmarbleit commented on #131
Try reloading your app by pressing 'r' in the development server console. It fixed the issue for me.

[2020-12-11 16:09] Panda-ref opened #141 "As of v2.2.0 library relies on react-native useColorScheme hook which was introduced only in react-native 0.62.0"
https://github.com/react-native-community/releases/blob/master/CHANGELOG.md#v0620

This line is misleading
https://github.com/react-native-segmented-control/segmented-control/blob/master/package.json#L25

It doesn't work for folks that can't upgrade their app to 0.62.0 yet.
Sticking with 2.1.2 for now.

[2020-12-13 05:22] #141 closed

[2020-12-14 16:43] MSchmidt commented on #130
The merged PR doesn't seem to take care of iOS. So this is only working in the JS implementation, right?

[2021-01-01 04:34] chefong commented on #125
Same issue as well. Using a custom imported font file, works fine everywhere else

[2021-01-09 04:09] smallsaucepan opened #155 "Passing SVG icon as value"
Wondering what the expectations around passing an SVG icon as the value are? I can see from #71 and #101 that raster images are supported. However, it doesn't seem to allow for SVG - passing as a React element complains the value isn't a string, and passing using `require('some.svg')` gives a UIImage size related error.

Could we try to extend the values prop to accept a function that returns an i

[2021-01-14 20:10] taylorpringle opened #167 "Label with icon support?"
Is there any option to have a label under the icon?

![image](https://user-images.githubusercontent.com/31602354/104643282-0ed78d00-5711-11eb-96a1-cfd98a78d13c.png)

Thanks!

[2021-01-23 02:24] apedroferreira commented on #125
same here

[2021-02-02 09:43] agnislav commented on #137
Would be great to have this feature

[2021-02-03 01:23] #167 closed

[2021-02-03 01:23] taylorpringle commented on #167
Created a custom fork.

[2021-02-12 13:40] evrimfeyyaz commented on #93
This issue still happens in `2.3.0`.

[2021-02-18 02:13] jongirard commented on #155
@smallsaucepan I was looking for a way to do this also (but to pass in a custom component). I ended up finding/using `react-native-resegmented-control` which allows you to pass in anything as the value (including custom component).

https://github.com/richardvclam/react-native-resegmented-control

[2021-02-25 17:22] Andresain123 commented on #155
I don't think thats possible on the native component for iOS.
If the component was made with JS it should be able to allow it. But as it is a native component on iOS and a JS one on Android/Web/Windows if we implement this approach it would be inconsistent between the different platforms.

As @jongirard pointed, you can use another alternatives made as a JS component.

[2021-03-06 08:44] hackzilla opened #216 "Adding padding to segment doesn't increase the clickable area"
I am using `paddingVertical` to increase the height of the segment control.

<img width="408" alt="Screenshot 2021-03-06 at 08 37 04" src="https://user-images.githubusercontent.com/1474182/110200712-23095200-7e57-11eb-854f-a511e804d6a6.png">

However, in the web version, this doesn't increase the area that is clickable.

<img width="408" alt="110200712-23095200-7e57-11eb-854f-a511e804d6a6" src="ht

[2021-03-12 16:03] hakanpinar commented on #216
Same issue here! :( Can someone help me?

[2021-03-12 17:49] hackzilla commented on #129
#130 is a duplicate of this.
However, as the discussion is happening there, this ticket should be closed.

[2021-03-13 22:53] hackzilla opened #225 "iOS Examples looks are out of date"
The examples don't seem to match when they are run on iOS 14.
This threw me off when I was using them as a base for my project.

## Example from the repo
![71608757-dc6ef680-2bc6-11ea-85be-aa31f25ecf36](https://user-images.githubusercontent.com/1474182/111051878-38c9d900-844e-11eb-886a-f14ed45db155.png)

## Example run on iOS 14.4
<img width="447" alt="iOS 14 examples" src="https://user-images.git

[2021-03-16 13:08] anujparekh18 commented on #93
Has anyone found solution to this issue?

[2021-04-03 02:02] dhanushm360 opened #239 "Does this work in typescript?"

[2021-04-03 17:37] #239 closed

[2021-04-05 18:07] mgwedd opened #240 "Import example in docs has incorrect node module path"
The README instructions suggest importing the module as follows:

`import SegmentedControl from '@react-native-segmented-control/segmented-control';`

However, the package is installed under `@react-native-community/segmented-control`, not `@react-native-segmented-control/segmented-control`

Suggested change:
`import SegmentedControl from '@react-native-segmented-control/segmented-control';`
Shoul

[2021-04-10 14:59] AlexBasile123 opened #242 "Doesn't Compile"
I wanted to use your component.

I'm getting compilations errors after adding: "import SegmentedControl from '@react-native-segmented-control/segmented-control/SegmentedControl.js';" to my js file.

I'm running on a Mac.

I've followed the installation instructions. I can see the module in node_modules.

Please advise.

-------------------------- Error Message ----------------------------

Creatin

[2021-04-15 09:54] nikolal commented on #138
Did you find solution for this? I have the same issue.

[2021-04-21 16:41] thibmaek commented on #109
Partial fix: https://github.com/react-native-segmented-control/segmented-control/pull/219

[2021-04-30 17:10] zifahm commented on #242
Same here using it with react-native-web

[2021-06-07 12:55] mmehmetAliIzci commented on #240
Hi @mgwedd
I believe the problem resides in the following:

There is two packages published in npm.
![image](https://user-images.githubusercontent.com/7356299/121019548-d27bfa80-c79f-11eb-8d85-7643dccd2b48.png)

[code]

Both of them points to the same repository. Hence the problem with the Readme. I would love to help about this if you need this @Naturalclar. But I believe this is a credential sen

[2021-06-07 15:42] mmehmetAliIzci commented on #216
Hi !

As far as i see, this issue relies on combination with how `react-native-web` handles the transformation when it comes to `flex, absolute and relative` positioning. Basically Text container (TouchableOpacity in our case) is not expanding to full size.

Moving forward I created a small workaround where I opened API for TouchableOpacity styles. This will allow users to change actual padding of

[2021-06-09 10:08] Naturalclar commented on #240
Hello! Sorry for the confusion.
We're in the middle of migrating packages out of the @react-native-community namespace, hence the multiple name space for this repo.
More details can be found here
https://github.com/react-native-community/discussions-and-proposals/issues/330

Please migrate to the new namespace whenever possible, as the old namespace wont be maintained from here on

[2021-06-09 12:30] mmehmetAliIzci commented on #138
Hi @nikolal and @elirangoshen,

Please try to increase the `height` by passing `height: x` to `props.style`. This issue occurs because parent has a fixed height and you are trying to add a padding bigger than the component itself.

I am not sure why `paddingHorizontal` would not work but I assume it is the same problem.

In any case please add a repro case so it is more clear for others to take a

[2021-06-11 10:51] guytepper opened #302 "Slide won't work when component is controlled with selectedIndex"
Hi there! Thanks for the great library :)
When I'm controlling the component by changing the `selectedIndex` dynamically, the sliding animation doesn't work:

[code]

You can see the actual code I've been using [here](https://github.com/guytepper/better-rail/blob/main/app/components/date-picker-modal/date-picker-modal.ios.tsx#L37-L41), and the video below for the result.

https://user-images.githu

[2021-07-15 16:58] nagasai-tilicho commented on #131
I am also getting same issue, the exact scenario was

Note: it was fine when pop and push the screen once

[2021-07-21 14:12] ihor-zhvanko commented on #242
Also had an issue with segmented-input with react-native-web. Just modify your webpack.config.js where you configure your babel loader:

[code]
Adding this solves the problem:

**path.resolve(appDirectory, 'node_modules/@react-native-segmented-control/segmented-control'),**

[2021-08-01 13:34] aburdiss commented on #115
How are you importing your `Schedule` component into the test file? Since you're default exporting your component, you have to import it without brackets:

`import Schedule from './Schedule';`

You may be importing your component incorrectly:

`import { Schedule } from './Schedule'` (This won't work since you're default exporting the component)

Check the MDN docs if you need a more in-depth expla

[2021-08-12 12:25] SkySails opened #346 "JavaScript files for web/android are uncompiled tsx files. Intentional?"
When trying to get this library to work with a multi-platform RN project running on IOS, Android, and Web, I stumbled upon this error when compiling the web version.

[code]

The project uses Vite, which in turn means that the build process is handled by Rollup and esbuild. After looking at the suggested solution in #242 , I implemented something similar for Vite, but then I realized that it wasn'

[2021-08-16 15:42] SkySails commented on #346
Alright, so I see now that these files use `flow`, which would explain the types I guess? But even after adding flow support to the compiler, the extensions are still wrong which causes this error:

[code]

The compiler that I use does not bother checking `.js` files for JSX syntax because of performance reasons. [Here is a tweet reasoning about this very fact](https://twitter.com/youyuxi/status/1

[2021-08-16 15:42] #346 closed

[2021-08-20 17:47] mike-skwi commented on #127
Any update on this? I'm still having this issue.

[2021-09-15 12:41] WrathChaos commented on #302
Actually, the problem is the version of `2.4.0`, simply downgraded to `2.3.0` and everything works great!

I hope they will resolve the animation problem.

[2021-09-16 08:58] guytepper commented on #302
`2.3.0` is the installed version in the video I've attached. Does the animation work for you in a controlled component?

[2021-09-19 06:34] DakshChhokra commented on #127
Yeah still have the same issue - Any ideas of what we can do to mitigate this @harisbaig100 ? Thanks!

[2021-11-10 12:10] christophemenager commented on #127
I do have the same issue, with version 1.4.0

[2022-02-19 08:11] arunim2405 commented on #302
Any updates on this issue?

[2022-03-18 10:34] AmaanKulshreshtha commented on #135
You can use the style prop to set a custom border-radius. This alters the border-radius of the entire container but the "selected segment container" styles remain unchanged.

[2022-04-02 11:47] Bamatthieu commented on #127
any update ?

[2022-04-13 20:56] zabojad commented on #116
it works in Android but not on iOS... Did you manage to make it work on iOS @adtm ?

[2022-04-14 07:50] fukemy opened #484 "install failed code ERESOLVE"
hi, please help my problem
[code]

here is package.json file
[code]

[2022-05-30 03:02] Nestor231 opened #519 "per Tab customization"
is it possible to customize each tab, like the enable/disable?

for example:

tab1 | tab2 | tab3

tab1 = enabled
tab2 = disabled
tab3 = enabled

[2022-06-10 10:18] magrinj commented on #93
@Naturalclar Still happening on `2.4.0`.
Color only works on `activeFontStyle` when I don't provide a custom `fontFamily`.
It's working properly on `fontStyle` even with the same custom font and color.

[2022-06-25 10:04] CodingByJerez commented on #302
Problem still present :(

[2022-06-29 23:46] thiskevinwang commented on #113
Hi! Are there possibly any additional steps to resolve this when using `expo ~45.0.5` & `expo start --dev-client`?

[2022-07-01 23:12] srithar21 commented on #127
Hi All, I am facing this issue on React native 0.69.2 and segemented control 2.4.0. Any fix on ths?

[2022-07-21 14:28] zgordon02 commented on #125
I can reproduce this on iOS but Android seems to apply font family correctly. My guess is because Android is a pure JS implementation, and in iOS it will only support fonts that are natively supported on iOS

[2022-08-24 15:13] fukemy commented on #138
i have same problem, can not touch to change segment index with Android

[2022-08-31 16:05] fukemy commented on #484
DEAD LIB, decided to remove

[2022-09-07 22:22] riledv commented on #127
I have the same problem

Looks like a **much needed thing that is missing**

@Naturalclar can you please help us?

[2022-09-15 08:46] alexpchin commented on #127
The issue is that the SegmentControl.ios.js is. taking precedence over SegmentControl.js. You can just rename this package to use the Android version and use patch-package.

I'm not actually sure why we need both?

[2022-10-07 20:46] Naturalclar opened #583 "Use react-native-test-app for example app"
use [microsoft/react-native-test-app](https://github.com/microsoft/react-native-test-app) for example app

[2022-10-07 22:10] hazardemircan commented on #583
@Naturalclar Can you give more informaation please?

[2022-10-07 22:50] Naturalclar commented on #583
@hazardemircan sure!
I want to replace the contents in 'example' directory and replace it with react-native-testing-app

An example implementation can be found in this repository

https://github.com/react-native-menu/menu

[2022-10-08 04:34] YajanaRao commented on #583
@Naturalclar I would like to work on this.

[2022-10-08 09:41] hazardemircan commented on #583
I would be happy if you give me a chance to try 😊

[2022-10-08 09:49] YajanaRao commented on #583
@hazardemircan You can try once. I am getting this error on my system:
https://github.com/microsoft/react-native-test-app/issues/1155

[2022-10-08 18:44] hazardemircan commented on #583
Thanks, i just fork the repo

[2022-10-08 20:00] hazardemircan opened #588 "Getting "Delete `␍`eslintprettier/prettier" error"
![image](https://user-images.githubusercontent.com/33188168/194725780-8e96099b-ef73-420a-854e-872bfc8692fe.png)

I found this issue on my vscode and fixed it

[2022-10-09 06:01] Naturalclar commented on #588
Fixed in #589 , thanks!

[2022-10-09 06:01] #588 closed

[2022-10-09 06:34] #70 closed

[2022-10-09 06:34] #24 closed

[2022-10-09 06:35] #134 closed

[2022-10-11 05:26] #484 closed

[2022-10-11 05:28] Naturalclar commented on #519
Currently its not possible to disable specific tabs.

:memo:
Method exists in UISegmentedControl so it can be implemented
https://developer.apple.com/documentation/uikit/uisegmentedcontrol/1618567-setenabled

[2022-10-11 17:11] YajanaRao commented on #583
@Naturalclar @hazardemircan I had to downgrade react native test app to 1.4.6 as we are using react native 0.63 . I am getting few more issue with react native test app 1.4.6 . I will keep you guys updated on this.

This is my fork: https://github.com/YajanaRao/segmented-control/tree/example-react-native-test-app

[2022-10-13 16:38] YajanaRao commented on #583
@Naturalclar Here is my PR for this issue: https://github.com/react-native-segmented-control/segmented-control/pull/594

[2022-10-17 04:17] #583 closed

[2022-10-21 06:34] Naturalclar opened #606 "Update React Native in example"
update react-native in example to use version 0.68
react-native-test-app also needs to be updated

[2022-10-22 03:14] Kishore-abhimanyu commented on #606
Can you assign me this issue?

[2022-10-31 09:58] itsramiel opened #615 "Feature: disabled segments"
Is it possible to add a disabled segment. For example let's say I will be using segmented control for e-commerce app that sells t-shirts of different sizes.

Assuming we have small, medium, and large sizes, but the medium is out of stock. I would like the medium segment to be there but in a disabled state.

[2022-11-05 10:47] ariran5 opened #618 "Work with expo"
please add to docs, expo users can
[code]

and it works

[2022-11-19 09:16] NishantRout opened #635 "Image aspect ratio changing in segment - ios"
Original Image

![info](https://user-images.githubusercontent.com/48598347/202843880-d7ed6168-74ee-4533-bee0-3602e3da2833.png)

Image after adding inside segment

![Image](https://user-images.githubusercontent.com/48598347/202843775-c957aeba-01be-4fc7-9222-c0a8bbe158a9.jpeg)

The aspect ratio of image is changing inside segment in ios. Works fine for android.

[2022-11-30 19:28] padge opened #641 "Change appearance and style resets"
I'm trying to use this component to change my app's theme from light to dark.

The `fontStyle.color` and `backgroundColor` props work on first render, but when I change the theme (set `appearance` to a different value) the `fontStyle.color` and `backgroundColor` styling is lost and `tintColor` is used for the font color instead.

Using version `2.4.0`.